body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ee3d4f, #ffdfba);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.background-elements {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
    z-index: 0;
}

.background-element {
    flex: 1 0 33.33%;
    min-height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    margin: 5px;
}

.element-1 {
    background-image: url('imagen1.jfif');
}

.element-2 {
    background-image: url('imagen2.jfif');
}

.element-3 {
    background-image: url('imagen3.jfif');
}

.element-4 {
    background-image: url('imagen4.jfif');
}

.carta {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #ffecf0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding: 20px;
}

.sobre {
    background-color: #cc1c4a;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-top: -10px;
    margin-bottom: -10px;
}

.solapa {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #cc1c4a;
}

.contenido-sobre {
    z-index: 1;
}

.contenido {
    padding: 20px;
    display: none;
    color: #333;
}

.corazon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #ff5e78;
    transition: all 0.3s ease;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 94, 120, 0.8);
    padding: 10px;
}

.carta:hover .corazon-neon {
    font-size: 30px;
    color: #ff3355;
    box-shadow: 0 0 15px rgba(255, 94, 120, 0.9);
    padding: 12px;
}

button.cerrar-btn {
    background-color: #cc1c4a;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.cerrar-btn:hover {
    background-color: #a0173f;
}

.frases-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(to left, #d12f5b, #e47085); /* Degradado de derecha a izquierda */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease; /* Cambiado a background para incluir el degradado */
}

.frases-btn:hover {
    background: linear-gradient(to right, #d12f5b, #e47085); /* Ajuste de la dirección del degradado en hover */
}

.frases-panel {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background: linear-gradient(to left, #f891b5, #fdc3d0); /* Degradado de derecha a izquierda */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Haciendo las sombras más oscuras */
    border-radius: 10px;
    padding: 15px;
    z-index: 3;
    max-height: 300px;
    overflow-y: auto;
    margin: 0;
    transition: background 0.6s ease, box-shadow 0.3s ease;
}

.cerrar-frases-btn {
    background-color: #cc1c4a;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.cerrar-frases-btn:hover {
    background-color: #a0173f;
}

#frasesCargadas {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 250px;  /* Cambia el valor según tus preferencias */
    max-width: 250px;
    overflow-y: auto;
}

#frasesCargadas div {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#frasesCargadas div:last-child {
    margin-bottom: 0;
}

#frasesCargadas div:hover {
    background-color: #f5a4bd;
    transform: scale(1.03);
}